<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>猫爷</key>
	<string>Skins/cat</string>
	<key>Dark Knight</key>
	<string>Skins/darknight</string>
	<key>Forest</key>
	<string>Skins/forest</string>
	<key>Happy Toy</key>
	<string>Skins/happytoy</string>
	<key>魁拔</key>
	<string>Skins/kuiba</string>
	<key>New PinkPink</key>
	<string>Skins/pinkpink</string>
</dict>
</plist>
